# Cypress
cypress/videos/
cypress/screenshots/
cypress/reports/
cypress/downloads/

# Ignore node_modules
node_modules/

# Ignore environment variables
.env
.env.local
.env.development
.env.production
